@import "normalize.css";

:root {
    background-color: #11151c;
}

* {
    font-family: monospace;
    text-rendering: geometricPrecision;
    shape-rendering: geometricPrecision;
    image-rendering: optimizeQuality;
    font-variant-ligatures: normal;
    font-size: 18px;
}

#content {
    color: white;
    align-content: center;
    text-align: center;
}

a {
    color: white;
}

#breadcrumb {
    padding: 1rem;
    color: #fbfbff;
    background-color: #364156;
}

#breadcrumb ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

#breadcrumb li:not(:last-child)::after {
    display: inline-block;
    margin: 0 0.25rem;
    content: "|";
}

.page-header,
.page-footer {
    flex-grow: 0;
    flex-shrink: 0;
}
.page-body {
    flex-grow: 1;
}

#wrapper {
    box-sizing: border-box;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#catImage {
    width: 300px;
    height: auto;
    display: none;
    margin-top: 20px;
    z-index: 1;
    align-self: center;
}

#loading {
    display: none;
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}

#emoji {
    position: absolute;
    font-size: 150px;
    opacity: 0;
    transition: opacity 2s ease;
    z-index: 0;
    margin-top: 20px;
    align-self: center;
}

#catButton {
    background-color: #364156;
    color: white;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
    width: 150px;
    text-align: center;
    align-self: center;
}

#catButton:hover {
    background-color: darkblue;
}
